* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.portada {
  height: 90vh;
  background: url('https://cdn.q-dance.com/l6hfsc63q612/5YWzdis1kwEZdWwp6gFeQB/87b23cadc271bce1b503e50846f28c90/8.jpg') no-repeat;
  background-size: auto cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sombra-imagen {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
}