* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.portada {
  height: 90vh;
  background: url('./img/portada.jpg') no-repeat;
  background-size: auto cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sombra-imagen {
  height: 90vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
}

.portada h1 {
  color: white;
  z-index: 1;
  font-family: 'Rubik', sans-serif;
  font-size: 4em;
  text-shadow: 3px 3px 5px rgb(228 15 202);
}

.nav-items {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.nav-bar {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.nav-items a {
  color: rgb(189, 187, 187);
  text-decoration: none;
  margin: 0 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.nav-items a:hover {
  color: rgb(133, 133, 252);
}

.quienes-somos {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 80vh;
  background: url('./img/imagen-quienes-somos.jpg') no-repeat;
  background-size: auto cover;
  background-position: center;
}

.filtro-imagen {
  height: 80vh;
  width: 100%;
  background-color: rgba(126, 0, 204, 0.7);
  position: absolute;
}

.quienes-somos h2 {
  margin-top: 30px;
  color: white;
  z-index: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  position: absolute;
}

.texto-quienes-somos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35em;
}

.texto-quienes-somos p {
  color: white;
  z-index: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  text-align: start;
  font-weight: bold;
}